/* Inzio classi js: */
.box-pic{ 
    margin-top:30px; 
    position: relative;
    display:flex;
    align-items: center;
}
.box-pic img{ 
    width:100%;
}

/* --------------------------------- */
.box-pic .fas{
    color:rgba(255, 255, 255, .7);
}
.box-pic .left{
    font-size:40px;
    position: absolute;
    left:10px;
}
.box-pic .right{
    font-size:40px;
    position: absolute;
    right:10px;
}
@media screen and (max-width: 575px) {
    .box-pic .fas{
        color:rgba(0, 0, 0, .7);
        font-size: 25px;
    }

}

.ball{
    background-color:rgba(0, 0, 0, .7);
    border-radius:15px;
    margin-top:20px;
    color:white;
    padding: 0 5px 0 5px;
}
.cen{
    display: flex;
    justify-content: center;
}
.spazio-interno{
    padding: 0 5px 0 5px;
}
.colorBlue{
    color:blue;
}
/* Classi nav-bar/Bootstrap */
.box-logo{
    width:100px;   
}
.box-logo img{
    width:100%;   
}
.nav-dx{
    color:white;
}
.login{
    text-decoration: underline;
    padding-left:10px;
}
.text-color{
    color:green;
}
.text-color i{
    color:white;
    font-size:12px;
}
/* ------------------ */
/* Classi Jumbo  */
.jumbo{
    background-image: url('../img/jumbo.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:700px;
}
.bg-text-dark{
    background-color: rgba(0, 0, 0, .7);
    color:white;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:15px;

}
.jumbo-tittle div:first-child{
    font-size:35px;
    font-weight: bold;
    margin-bottom:20px;
}
.game-pass {
    width:200px;
}
.game-pass img{
    width:100%;
}
.xs{
    width:100px;
}
.xs img{
    width:100%;
}





/* ---------------- */