/* Inzio classi js: */
.box-pic{ 
    margin-top:30px; 
    position: relative;
    display:flex;
    align-items: center;
}
.box-pic img{ 
    width:100%;
}

/* --------------------------------- */
.box-pic .fas{
    color:#fff;
}
.box-pic .left{
    font-size:40px;
    position: absolute;
    left:10px;
}
.box-pic .right{
    font-size:40px;
    position: absolute;
    right:10px;
}